.container {
  justify-content: center;
}
.perfumeDetail {
  width: (600px);
}
.divide1 {
  width: 100%;
  height: (1px);
  background-color: $GRAY-67;
}
.divide2 {
  width: (100%);
  height: (1px);
  background-color: $GRAY-67;
}
.perfumeDetail1 {
  width: (540px);
  margin: (80px) (30px) (20px) (30px);
  &_img {
    width: (240px);
    height: (320px);
    margin-right: (60px);
    overflow: hidden;
    border-radius: 15%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &_contents {
    width: (240px);
    height: (320px);
    background-color: $GRAY-DB;
    color: $GRAY-67;
  }
}
.perfumeDetail2 {
  width: (540px);
  height: (60px);
  margin: 0 (30px) (40px) (30px);
  &_title {
    width: (240px);
    margin-right: (60px);
    justify-content: space-around;
    align-items: center;
    &_name {
      // margin-left: (84px);
      color: $GRAY-67;
    }
    &_like {
      width: (60px);
      // margin-right: (6px);
      justify-content: center;
      &_img {
        height: (24px);
        width: (24px);
        margin-right: (2px);
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      &_number {
        color: $GRAY-67;
      }
    }
  }
  &_info {
    width: (240px);
    justify-content: space-between;
    color: $GRAY-67;
    padding: 0 (48px) 0 (48px); 
  }
}
.perfumeDetail3 {
  width: (540px);
  height: (64px);
  margin: (40px) (30px) (40px) (30px);
  &_profile {
    flex-direction: column;
    margin-right: (30px);
    &_img {
      width: (50px);
      height: (50px);
      overflow: hidden;
      border-radius: 15%;
      margin-bottom: (4px);
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &_rating {
      width: (50px);
      height: (10px);
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  &_input {
    border: 1px solid $GRAY-DB;
    width: (460px);
    height: (48px);
    border-radius: (6px);
    padding: (8px) (12px) (8px) (12px);
    &_btn {
      color: $GRAY-67;
      background-color: $GRAY-DB;
      width: (40px);
      height: (26px);
      border-radius: 15%;
      margin-left: (390px);
    }
  }
}
.perfumeDetail4 {
  width: (540px);
  flex-direction: column;
  margin: 0 (30px) (20px) (30px);
  &_sort {
    justify-content: space-between;
    align-items: center;
    width: (120px);
    height: (32px);
  }
}
.perfumeDetail5 {
  width: (540px);
  margin: 0 (30px) 0 (30px);
}