.sticky {
  position: fixed;
  bottom: (20px);
  right: (20px);
  &_menuBar {
    height: (600px);
    width: (300px);
    flex-direction: column;
    // border: 1px solid $BLACK;
    background-color: #fffbf4;
    border-radius: (20px);
    padding: (12px);
    box-shadow: (2px) (2px) (2px) (2px) $GRAY-DB;
    &_title {
      width: 100%;
      justify-content: space-between;
      height: (40px);
      img {
        margin-top: (4px);
        height: (32px);
      }
    }
  }
}
.book {
  position: fixed;
  bottom: 10%;
  right: (30px);
  width: (770px);
  height: (1022px);
  padding: (20px) (24px) (20px) (24px);
  background-image: url(../../assets/images/icon/book.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  // background-attachment: fixed;
  &_title {
    justify-content: space-between;
    width: 100%;
    // flex-direction: row;
    margin-bottom: (72px);
    &_tag {
      flex-direction: row;
      &_word {
        margin-right: (24px);
      }
      &_word,
      &_scent {
        border-width: (3px) (4px) 0 (4px);
        border-style: solid;
        border-color: #65350f;
        border-radius: (12px) (12px) 0 0;
        &_btn {
          color: #65350f;
        }
      }
    }
    &_btn {
      margin-bottom: (8px);
    }
  }
  &_content {
    padding: (8px);
    &_word,
    &_scent {
      flex-direction: row;
      &_tags {
        width: (96px);
        flex-direction: column;
        margin-right: (20px);
        &_tag {
          margin-top: (20px);
          // box-shadow: (2px) (2px) #65350f;
        }
      }
      &_contents {
        flex-direction: column;
        width: (590px);
        &_box {
          flex-direction: row;
          margin-top: (20px);
          &_terms {
            width: (96px);
            margin-right: (12px);
          }
          &_mean {
            width: (480px);
          }
        }
      }
    }
  }
}
