.infoReview {
  margin : (24px) 0 (12px) 0;
  &_img {
    width: (90px);
    height: (120px);
    margin-right: (24px);
    overflow: hidden;
    border-radius: 15%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &_extra {
    flex-direction: column;
    color: $GRAY-40;
    &_name {
      margin-top: (8px);
    }
    &_rating, &_comment {
      margin-top: (20px);
    }
    &_rating {
      align-items: center;
      &_star {
        width: (100px);
        height: (20px);
        margin-right: (16px);
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    &_comment {
      width: (412px);
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}