.perfumeReview {
  height: (124px);
  margin: (20px) 0 (20px) 0;
  &_profile {
    flex-direction: column;
    margin-right: (40px);
    // align-items: space-between;
    justify-content: space-around;
    &_img {
      margin-left: (10px);
      width: (80px);
      height: (80px);
      overflow: hidden;
      border-radius: 70%;
      margin-bottom: (4px);
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &_rating {
      width: (100px);
      &_ystar {
        width: 16px;
        margin-left: 2px;
        margin-right: 2px;
      }
      // height: (10px);
      // overflow: hidden;
      // img {
      //   width: 100%;
      //   height: 100%;
      //   object-fit: cover;
      // }
    }
  }
  &_upload {
    height: (124px);
    width: (93px);
    overflow: hidden;
    border-radius: (8px);
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &_info {
    margin-left: (40px);
    width: (480px);
    height: 100%;
    justify-content: space-around;
    flex-direction: column;
    &_writer {
      color: $BLACK;
      width: (480px);
      &_nickname {
        margin-right: (40px);
      }
    }
    &_rating {
      width: (480px);
      &_long, &_sil {
        width: (100px);
        margin-right: (20px);
        &_emo {
          width: 16px;
          margin-left: 2px;
          margin-right: 2px;
        }
      }
    }
    &_review {
      width: 100%;
      color: $BLACK;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
  &_btns {
    flex-direction: column;
    justify-content: space-around;
  }
}
